body {
  padding: 50px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1, h2 {
  margin-top: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}





input {
  display: block;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 5px;
  width: 100%;
  box-sizing: border-box;
}

input[type=submit],
button {
  font-size: 20px;
  padding: 10px;
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

select {
  font-size: 20px;
}

.blue-btn {
  background: #0061ff;
}

.blue-btn:hover {
  background: #0146b7;
}

.green-btn {
  background: #57ce16;
}

.green-btn:hover {
  background: #44a310;
}

.red-btn {
  background: #f44242;
}

.red-btn:hover {
  background: #c12a2a;
}

.section-solid {
  display: inline-block;
  background: #dbdbdb;
  padding: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
  vertical-align: top;
  min-height: 200px;
}

.section-border {
  display: inline-block;
  border: 1px solid #dbdbdb;
  padding: 30px;
  margin-bottom: 20px;
  margin-right: 20px;
  vertical-align: top;
  min-height: 200px;
}

.red-text {
  color: red;
}

.green-text {
  color: green;
}

.hide {
  display: none;
}